<form action="{{ formAction }}" method="POST" class="form-horizontal">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-talk-title" class="col-sm-2 control-label">Talk Title</label>
        <div class="col-sm-10">
            <input id="form-talk-title" type="text" name="title" class="form-control" placeholder="Talk Title" value="{{ title }}" maxlength="100">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-description" class="col-sm-2 control-label">Description/Abstract</label>
        <div class="col-sm-10">
            <textarea id="form-talk-description" name="description" class="form-control" placeholder="Give a description of your talk (Abstract)" rows="10">{{ description }}</textarea>
            <p class="help-block">Speaker abstract can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-slides" class="col-sm-2 control-label">Slides</label>
        <div class="col-sm-10">
            <input id="form-talk-slides" type="text" name="slides" class="form-control" placeholder="Slides URL (if exists)" value="{{ slides }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-type" class="col-sm-2 control-label">Talk Type</label>
        <div class="col-sm-10">
            <select id="form-talk-type" name="type" class="form-control">
                <option value="regular" {% if type == 'regular' %}selected {% endif %}>Regular (50-min)</option>
                <option value="focus" {% if type == 'focus' %}selected {% endif %}>Focus Group (50-min)</option>
                <option value="tutorial" {% if type == 'tutorial' %}selected {% endif %}>Tutorial (3-hr)</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-category" class="col-sm-2 control-label">Talk Category</label>
        <div class="col-sm-10">
            <select id="form-talk-category" name="category" class="form-control">
                <option value="Architecture" {% if category == "Architecture" %}selected {% endif %}>Architecture</option>
                <option value="Business" {% if category == "Business" %}selected {% endif %}>Business</option>
                <option value="CMS" {% if category == "CMS" %}selected {% endif %}>CMS</option>
                <option value="Community" {% if category == "Community" %}selected {% endif %}>Community</option>
                <option value="Data" {% if category == "Data" %}selected {% endif %}>Data</option>
                <option value="GeekLife" {% if category == "GeekLife" %}selected {% endif %}>Geek Life</option>
                <option value="GoLang" {% if category == "GoLang" %}selected {% endif %}>Go Language</option>
                <option value="Hardware" {% if category == "Hardware" %}selected {% endif %}>Hardware</option>
                <option value="Java" {% if category == "Java" %}selected {% endif %}>Java</option>
                <option value="Javascript" {% if category == "Javascript" %}selected {% endif %}>Javascript</option>
                <option value="Mobile" {% if category == "Mobile" %}selected {% endif %}>Mobile</option>
                <option value="Ops" {% if category == "Ops" %}selected {% endif %}>Ops</option>
                <option value="OtherLang" {% if category == "OtherLang" %}selected {% endif %}>Other Languages</option>
                <option value="Perl" {% if category == "Perl" %}selected {% endif %}>Perl</option>
                <option value="PHP" {% if category == "PHP" %}selected {% endif %}>PHP</option>
                <option value="Python" {% if category == "Python" %}selected {% endif %}>Python</option>
                <option value="QA" {% if category == "QA" %}selected {% endif %}>QA</option>
                <option value="Ruby" {% if category == "Ruby" %}selected {% endif %}>Ruby</option>
                <option value="Security" {% if category == "Security" %}selected {% endif %}>Security</option>
                <option value="SEO" {% if category == "SEO" %}selected {% endif %}>SEO</option>
                <option value="Tools" {% if category == "Tools" %}selected {% endif %}>Tools</option>
                <option value="Web" {% if category == "Web" %}selected {% endif %}>Web</option>
                <option value="UI/UX" {% if category == "UI/UX" %}selected {% endif %}>UI / UX</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-level" class="col-sm-2 control-label">Talk Level</label>
        <div class="col-sm-10">
            <select id="form-talk-level" name="level" class="form-control">
                <option value="entry" {% if level == 'entry' %}selected {% endif %}>Beginner</option>
                <option value="mid" {% if level == 'mid' %}selected {% endif %}>Intermediate</option>
                <option value="advanced" {% if level == 'advanced' %}selected {% endif %}>Advanced</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="form-talk-other" class="col-sm-2 control-label">Additional Talk Information</label>
        <div class="col-sm-10">
            <textarea id="form-talk-other" name="other" class="form-control" placeholder="Other Considerations, such as Joind.In, Lanyrd, local user group, etc." rows="10">{{ other }}</textarea>
            <p class="help-block">Talk additional information can be written using <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> to support links</p>
        </div>
    </div>
    <div class="form-group">
        <label for="form-desired" class="col-sm-2 control-label">Most Desired</label>
        <div class="col-sm-10 checkbox">
            <div class="checkbox">
                <label for="form-desired">
                    <input id="form-desired" name="desired" type="checkbox" value="1" {% if desired == '1' %}checked{% endif %}> Of your submissions, is this your best?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="form-allow-video" class="col-sm-2 control-label">Allow Video Recording?</label>
        <div class="col-sm-10 checkbox">
            <div class="bheckbox">
                <label for="form-allow-video">
                    <input id="form-allow-video" name="allow_video" type="checkbox" value="1" class="checkbox" {% if allow_video == '1' %}checked{% endif %} /> I grant permission to the Utah Open Source Foundation to video record and publish this presentation
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
