{% extends "layouts/admin.twig" %}
{% block content %}
<div class="module">
    <div class="module__body">
        <div class="row">
            {% if speaker.photo_path is not empty %}
                <br />
            <div class="col-md-4">
                <img src="{{ photo_path }}{{ speaker.photo_path }}" alt="profile photo">
            </div>
            {% endif %}
            <div class="col-md-8">
                <blockquote>
                    <h2>{{ speaker.first_name }} {{ speaker.last_name }}</h2>
                    <p><a href="https://www.google.com/flights/#search;f={{ speaker.airport|upper }};t={{ airport|upper }};d={{ arrival }};r={{ departure }}" target="_blank">{{ speaker.airport }} </a><i class="fa fa-plane"></i></p>
                </blockquote>
                <p>
                  <i class="fa fa-envelope"></i> <a href="mailto:{{ speaker.email }}">{{ speaker.email }}</a><br>
                  {% if speaker.twitter is not empty %}<i class="fa fa-twitter-square"></i> <a href="http://twitter.com/{{ speaker.twitter }}" target="_blank" rel="external">{{ speaker.twitter }}</a>{% endif %}
                </p>
                <h3>Speaker Bio</h3>
                <p>{{ speaker.bio|striptags|markdown }}</p>

                <h3>Other Information</h3>
                <strong>Max Presentations:</strong> {{ speaker.max_presentations }}<br />
                <strong>Need Transportation:</strong> {% if speaker.transportation == '1' %} Yes {% else %} No {% endif %}<br />
                <strong>Need Hotel:</strong> {% if speaker.hotel == '1' %} Yes {% else %} No {% endif %}<br />
                <strong>Request Mentorship:</strong> {% if speaker.request_mentor == '1' %} Yes {% else %} No {% endif %}<br />
                <strong>Sponsor Opportunity:</strong> {% if speaker.sponsor == '1' %} Yes {% else %} No {% endif %}<br />
                
                {% if talks | length > 0 %}
                    <h3>Talk Submissions</h3>

                    {% for talk in talks %}
                        <a href="{{ url('admin_talk_view', { id: talk.id }) }}">
                            {% if talk.desired == 1 %}*{% endif %}
                            {{ talk.title }}
                        </a>
                        ({{ talk.vote_average | number_format(2) }})
                        <a href="#" id="talk-favorite-{{ talk.id }}" class="js-talk-favorite" data-id="{{ talk.id }}"><i class="fa fa-star star-favorite{% if talk.favorite == 1 %} star-favorite--selected{% endif %}"></i></a>
                        <a href="#" id="talk-select-{{ talk.id }}" class="js-talk-select" data-id="{{ talk.id }}"><i class="fa fa-check-square check-select{% if talk.selected == 1 %} check-select--selected{% endif %}"></i></a>
                        <br />
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="/assets/js/admin/talk.js"></script>
{% endblock %}
